@tailwind base;
@tailwind components;
@tailwind utilities;
.profile-pic {
  width: 100px; /* Adjust as needed */
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
